apiVersion: v1
kind: Service
metadata:
  name: mlops-api-service
  namespace: mlops
  labels:
    app: mlops-api
    component: backend
spec:
  type: LoadBalancer
  selector:
    app: mlops-api
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8000
    - name: metrics
      protocol: TCP
      port: 9090
      targetPort: 9090
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
